

.footer {
    background-color: gray;
    position: relative;   
<<<<<<< HEAD
    bottom: 0;
=======
>>>>>>> 490c76b11490e3b4e8fd0aa0c15ec3146747cc11
    width: 100%;
    bottom: 0;
    
}
 
.footer-lista{
    font-size: 1.5vh;
}
 
.copy {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 1vh;
}
 
.frakt {
    text-align: center;
    font-size: 1vh;
}