body {
    margin: 0;
    font-size: 1.5vw;
    background-color: #FAFCFC;
    width:100%;
}

#header {
    height:33vw;
    
    
}

#headersec {
    height:30vw;
    background-image: linear-gradient(to right top, #ded9e4, #d6d9e7, #cddae7, #c4dce4, #bfdcdd);
    background-position: center;
    background-size:cover;
    
}

#navbar {
    background-image: linear-gradient(to right top, #ccb4ea, #a3b2de, #8aacc7, #82a2ac, #849595);
    display:flex;   
    list-style: none;
    margin-top:0;
    padding-right: 3vw;
    align-items: space-between;
    box-shadow: 3px 3px #E3F0F0;
    
    
    
}

#navbar a {
    list-style-type: none;
    text-decoration: none;
    color: #F0FFFF;
    font-family: 'Times New Roman', Times, serif;
}


#navbar a:hover {
   
        font-size: 2vw;
        color: #76E3E3;
        background-color: #F0FFFF;
        border: solid 1px blue;
        border-radius: 5px;
        padding: 3px;
        line-height: 3vw;
    }


.item {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left:2vw;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 600;
    color:  #F0FFFF;
}

#about {
    margin-left:65vw;
}

#h1--text {
    display:flex;
    justify-content: center;
    width: 80vw;
   
}
#h1 {
    font-size:2vw;
    height:29vw;
    display:flex;
    justify-content: center;
    align-items:center;
    color: #F0FFFF;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    font-weight: 900;
    
    
}