.imgStyle {
    height:23vw;
    margin-bottom: 1vw; 
    padding:2px;
    border: 2px solid  rgb(168, 150, 159);
    background-color:white;
}

.box {
    display:flex;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightblue;
    background-color: #FAFCFC;
    list-style: none;
    line-height: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem; 
    color:  #9CC2C2;
    padding: 10px; 
    font-family: 'Dancing Script', cursive;
    box-shadow: 5px 5px #E3F0F0;
}

#inputImage {
    width:30vw;
    font-size: 1.5vw;
    padding: 5px;
    border: 1px solid  rgb(168, 150, 159);
    border-radius: 10px;
    margin-left: 2vw;
}

#inputText {
    padding: 5px;
    border: 1px solid  rgb(168, 150, 159);
    width:30vw;
    font-size: 1.5vw;
    margin-left: 2vw;
    border-radius: 10px;
}
#inputID {
    padding: 5px;
    border: 1px solid  rgb(168, 150, 159);
    width:30vw;
    border-radius: 10px;
    margin-left: 2vw;
    font-size: 1.5vw;
}

#inputDescription {
    padding: 5px;
    border: 1px solid  rgb(168, 150, 159);
    width: 30vw;
    border-radius: 10px;
    margin-left: 2vw;
    font-size: 1.5vw;
}

#inputNumber {
    padding: 5px;
    border: 1px solid  rgb(168, 150, 159);
    width: 30vw;
    border-radius: 10px;
    margin-left: 2vw;
    font-size: 1.5vw;
}

.name {
    
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 15px;
    margin-bottom: 1.5vw;
    font-size: 4.5vw;
    font-weight: 700;
    color: #9CC2C2;//:rgb(89, 204, 253);
    
    
}

.description {
    display:flex;
    font-size: 2vw; 
    font-weight: 500;
    margin-bottom: 2vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    justify-content: center;
}

.price   {
    font-size: 2.5vw; 
    font-weight: 600;
    margin-bottom: 2vw; 
}

.cartBtn {
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;
    width: 10vw;
    margin-bottom: 1vw;
}



.editBtn {
    padding: 7px;
    width: 5vw;
    margin-right: 1vw;
    border: solid 1px white; 
    border-radius: 10px;

}

.delete-btn {
    padding: 7px;
    width: 5vw;
    border: solid 1px white; 
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
    margin-bottom: 6vw;
    line-height: 2vw;
    justify-content: center;
    

   
}

.inputtext {
    font-family: 'Times New Roman', Times, serif;
    //max-width: 100%;
    font-size: 2.5vw;
    color: #9CC2C2;
}



#addBtn {
    background-image: linear-gradient(to right top, #ccb4ea, #a3b2de, #8aacc7, #82a2ac, #849595);
    padding: 15px; 
    border: solid 1px white;
    box-shadow: 3px 3px #E3F0F0;
    width: 25vw;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    margin-top: 2vw;
    color: #F0FFFF;

     
}



#cart {
    font-size: 5vw;
}


#products {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

#goToCart {
<<<<<<< HEAD
    padding: 5vw;
    height: 3vw;


}

=======
    padding: 1.5vw;
    color: white;
    border-radius: 10px;
    margin-left: 3vw;
    margin-bottom: 4vw;
    background-image: linear-gradient(to right top, #ded9e4, #d6d9e7, #cddae7, #c4dce4, #bfdcdd);
    font-size: 2vw;
    border: white;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 3px 3px #E3F0F0;
}
>>>>>>> 61dab0d2f762d22bf6f07a976d12ae9a40bb9a60
