.imgStyle {
    height:11vw;
}

.box {
    margin: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height:20vw;
    width:19vw;
    border: 5px solid rgb(105, 9, 9);
    background-color: rgb(161, 90, 93);
    list-style: none;
    
}





#products {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}