body {
    background-color: rgb(228, 228, 228);
    max-width: 100%;
    margin: auto;
    justify-content: center;
    background-image: url(bilder/headerback.jpg);
    background-attachment: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 50%;
    margin: auto;
    padding: 10px;
    background-color: white;
    justify-content: center;
    margin-top: 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5vw;
}

#first_name {
    padding-top: 10px;
}

.row-header {
    text-align: center;

}

.submit {
    font-size: 18px;
}









.footer {
    background-color: gray;
    position: absolute;   
    width: 100%;
    bottom: 0;
    
}
 
.footer-lista{
    font-size: 1.5vh;
}
 
.copy {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 1vh;
}
 
.frakt {
    text-align: center;
    font-size: 1vh;
}