body {
    background-color: rgb(228, 228, 228);
    max-width: 100%;
    justify-content: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    background-color: white;
    justify-content: center;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2vw;
}

#first_name {
    padding-top: 10px;
}

.row-header {
    text-align: center;
}











.footer {
    background-color: gray;
    position: absolute;   
    width: 100%;
    bottom: 0;
    
}
 
.footer-lista{
    font-size: 1.5vh;
}
 
.copy {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    font-size: 1vh;
}
 
.frakt {
    text-align: center;
    font-size: 1vh;
}