body {
    margin: 0;
    font-size: 2vw;
    background-color: #FAFCFC;
    max-width:100%;
    font-family: 'Dancing Script', ;
    height: 80vw;
}

#header {
    height:33vw;
    
    
}

#headersec {
    height:30vw;
    background-image: linear-gradient(to right top, #ded9e4, #d6d9e7, #cddae7, #c4dce4, #bfdcdd);
    background-position: center;
    background-size:cover;
    
}

#navbar {
    background-image: linear-gradient(to right top, #ccb4ea, #a3b2de, #8aacc7, #82a2ac, #849595);
    display:flex;   
    list-style: none;
    margin-top:0;
    
}
.item {
    margin-left:2vw;
}

.item a {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
    color:  #F0FFFF;
    
}

a:hover {
    font-size: 2.3vw;
    color: #76E3E3;
    background-color: #F0FFFF;
    border: solid 1px blue;
    border-radius: 5px;
    padding: 3px;
}

#about {
    margin-left:65vw;
}

#h1--text {
    display:flex;
    justify-content: center;
    width: 80vw;
    
}

#h1 {
    font-size:2vw;
    height:29vw;
    display:flex;
    justify-content: center;
    align-items:center;
    color: #F0FFFF;
    font-family: 'Dancing Script', cursive;
    font-size: 4vw;
    font-weight: 900;

    
    
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.5vw;
}
    
.first {
    color: #C1C9C9; 
    text-align: center;
    font-size: 4vw;
}

#username, #password {
    padding: 15px;
    border: solid 1px #C1C9C9;
    border-radius: 15px;
    font-size: 1.3vw;
}

#loginBtn {
    background-color: #C1C9C9;
    padding: 10px; 
    border: beige;
    width: 20vw;
    border-radius: 20px;
    font-family: 'Dancing script',;
    font-size: 1.5vw;

}