body {
    margin: auto;
    justify-content: center;
    background-image: linear-gradient(to right top, #ded9e4, #d6d9e7, #cddae7, #c4dce4, #bfdcdd);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    color: #9CC2C2;
}

/* Gör sidan mer responsive */
@media screen and (min-width:600px) {
    body {
        max-width: 70%;
        font-size: 4vw;
    }
}

@media screen and (max-width: 599px) {
    body {
        max-width: 90%;
        font-size: 5vw;
    }
}



.margin-div-container {
    margin-bottom: 50px;
    margin-top: 50px;
}

.card {
    width: 100%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1rem
}

.distans {
    width: 100%;
}

.card-body {
    padding: 1.25rem;
    text-align: center;
}

.card-title {
    font-size: 3vw;
}

.card-header {
    padding: 1rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

a {
    text-decoration: none !important;
    color: darkgrey;
}

.invoice-color {
    color: red;
}

.responsive-button {
    width: auto;
}

.btn-primary {
    font-size: 3vw;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    background-image: linear-gradient(to right top, #ded9e4, #d6d9e7, #cddae7, #c4dce4, #bfdcdd);
}

.box {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


.list-unstyled {
    list-style-type: none;
}

.imgStyle {
    height:10vw;
    margin-bottom: 1vw; 
    padding:2px;
    border: 2px solid  rgb(168, 150, 159);
    background-color:white;
}

.name {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 700;
    padding: 6px;
    border-radius: 3px;
    text-align: center;
}

.description {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 3px;
    text-align: center;
}

.price {
    font-size: 2vw; 
    font-weight: 600;
    margin-bottom: 3px; 
    text-align: center;
}

