#navbar {
    display:flex;
    justify-content: space-around; 
    
}

.box {
    display:flex;
    flex-direction: column;
    height:20vw;
    width:19vw;
    border: 2px solid blue;
    
}



.item {
    margin-left:2vw;
}

#products {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.footer {
    background-color: gray;
    position:fixed;
    bottom:0;
    width: 100%;
}

.footer-lista{

}

.copy {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}

.frakt {
    text-align: center;
}